---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: kube-system
spec:
  chart:
    spec:
      chart: node-feature-discovery
      version: 0.16.4
      sourceRef:
        kind: HelmRepository
        name: node-feature-discovery
        namespace: flux-system
  interval: 5m0s
  values:
    master:
      resources:
        requests:
          cpu: 200m
        limits:
          cpu: 800m
    gc:
      resources:
        requests:
          cpu: 20m
        limits:
          cpu: 800m
    worker:
      annotations:
        configmap.reloader.stakater.com/reload: "nfd-worker-conf"
      resources:
        requests:
          cpu: 20m
        limits:
          cpu: 800m
      tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
      config:
        core:
          sources: ["cpu", "custom", "pci", "usb"]
        sources:
          usb:
            deviceClassWhitelist: ["02", "03", "0e", "ef", "fe", "ff"]
            deviceLabelFields: ["class", "vendor", "device"]
          pci:
            deviceClassWhitelist: ["0300"]
          custom:
                - name: "intel.gpu"
                  labels:
                    "intel.feature.node.kubernetes.io/gpu": "true"
                  matchFeatures:
                    - feature: pci.device
                      matchExpressions:
                        vendor: {op: In, value: ["8086"]}
                        class: {op: In, value: ["0300", "0380"]}
                    - feature: kernel.loadedmodule
                      matchExpressions:
                        i915: {op: Exists}
                - name: "coral.tpu"
                  labels:
                    "feature.node.kubernetes.io/coral-tpu": "true"
                  matchFeatures:
                    - feature: pci.device
                      matchExpressions:
                        vendor: {op: In, value: ["1ac1"]}
                        class: {op: In, value: ["0880"]}
                    - feature: kernel.loadedmodule
                      matchExpressions:
                        apex: {op: Exists}
    tolerations:
      - key: "kubernetes.io/arch"
        operator: "Equal"
        value: "arm64"
        effect: "NoSchedule"
