---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kyverno
  namespace: flux-system
spec:
  path: ./kubernetes/apps/kyverno/kyverno/app
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 30m
  prune: true
  wait: true
  dependsOn:
    - name: kube-prometheus-stack
