---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name gluetun-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        OPENVPN_USER: "{{ .vpn_user }}"
        OPENVPN_PASSWORD: "{{ .vpn_pass }}"
        SERVER_COUNTRIES: "{{ .vpn_country }}"
        SERVER_CITIES: "{{ .vpn_cities }}"
  dataFrom:
  - extract:
      key: gluetun
