---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2024.6.3
      sourceRef:
        kind: HelmRepository
        name: authentik-charts
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: dragonfly-operator
      namespace: database
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: authentik-secrets
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: authentik-secrets
    server:
      autoscaling:
        enabled: true
        minReplicas: 2
      metrics:
        serviceMonitor:
          enabled: true
      ingress:
        enabled: true
        ingressClassName: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: authentik.png
          gethomepage.dev/name: Authentik
          gethomepage.dev/group: Infrastructure
          gethomepage.dev/widget.type: authentik
          gethomepage.dev/widget.url: https://authentik.${SECRET_DOMAIN}
          gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUTHENTIK_TOKEN}}"
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - &host authentik.${SECRET_DOMAIN}
        tls:
          - hosts:
              - *host
            secretName: *host
    worker:
      deploymentStrategy:
        type: RollingUpdate
      autoscaling:
        enabled: true
    prometheus:
      rules:
        enabled: true
    authentik:
      redis:
        host: dragonfly.database.svc.cluster.local
      email:
        from: id@${SECRET_DOMAIN}
        host: smtp.gmail.com
        port: 465
        use_ssl: true
