---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name bazarr-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        BAZARR__API_KEY: &apiKey "{{ .bazarr_token }}"
        POSTGRES_ENABLED: "true"
        POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        POSTGRES_USERNAME: &dbUser "{{ .pg_user }}"
        POSTGRES_PASSWORD: &dbPass "{{ .pg_pass }}"
        POSTGRES_DATABASE: bazarr
        # Postgres Init
        INIT_POSTGRES_DBNAME: bazarr
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .super_pg_pass }}"
        # Exportar vars
        APIKEY: *apiKey
        URL: "{{ .url }}"
  dataFrom:
  - extract:
      key: bazarr
  - extract:
      key: cloudnative-pg
