---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name restic
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        # App
        RESTIC_PASSWORD: "{{ .restic_password }}"
        AWS_ACCESS_KEY_ID: "{{ .access_key }}"
        AWS_SECRET_ACCESS_KEY: "{{ .secret_key }}"
        RESTIC_FORGET_ARGS: "--prune --keep-hourly 10 --keep-daily 7 --keep-weekly 5 --keep-monthly 12 --keep-yearly 10 --group-by paths"
        RESTIC_REPOSITORY: "{{ .repository }}"
        RESTIC_JOB_ARGS: "--files-from /config/include_files.txt --exclude-file /config/exclude_files.txt --verbose --group-by paths"
  dataFrom:
  - extract:
      key: restic
