---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app plex-meta-manager
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      plex-meta-manager:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: 0 6 * * *
          successfulJobsHistory: 4
        containers:
          app:
            image:
              repository: meisnate12/plex-meta-manager
              tag: v1.21.0
            command:
              - /scripts/run.sh
            env:
              TZ: ${TIMEZONE}
              PUID: 568
              PGID: 568
            resources:
              requests:
                cpu: 10m
                memory: 4096M
              limits:
                memory: 8192M
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        enabled: true
        existingClaim: *app
      config-file:
        enabled: true
        type: secret
        name: pmm-secret
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      scripts:
        enabled: true
        type: configMap
        name: pmm-scripts
        defaultMode: 0775
        globalMounts:
          - path: /scripts/run.sh
            subPath: run.sh
            readOnly: true
