---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name pgadmin-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        # Authentik
        PGADMIN_DEFAULT_EMAIL: "{{ .pgadmin_email }}"
        PGADMIN_DEFAULT_PASSWORD: "{{ .pgadmin_pass }}"
        AUTHENTIK_CLIENT_ID: "{{ .pgadmin_client_id }}"
        AUTHENTIK_CLIENT_SECRET: "{{ .pgadmin_client_secret }}"
  dataFrom:
  - extract:
      key: pgadmin

