---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name cloudnative-pg-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      metadata:
        labels:
          external-secrets.io/type: webhook
      data:
        username: "{{ .super_pg_user }}"
        password: "{{ .super_pg_pass }}"
        aws-access-key-id: "{{ .access_key }}"
        aws-secret-access-key: "{{ .secret_key }}"
  dataFrom:
  - extract:
      key: cloudnative-pg
