---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name teslamate-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        ENCRYPTION_KEY: "{{ .enc_key }}"
        DATABASE_USER: &dbUser "{{ .teslamate_pg_user }}"
        DATABASE_PASS: &dbPass "{{ .teslamate_pg_pass }}"
        DATABASE_NAME: &dbName teslamate
        DATABASE_HOST: &dbHost postgres-rw.database.svc.cluster.local
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .super_pg_pass }}"
  dataFrom:
  - extract:
      key: teslamate
  - extract:
      key: cloudnative-pg
