---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  labels:
    app.kubernetes.io/name: homepage
data:
  bookmarks.yaml: |
    - Communicate:
        - Discord:
            - icon: discord.png
              href: 'https://discord.com/app'
        - Mail:
            - icon: gmail.png
              href: 'http://mail.proton.me'
        - Google Calendar:
            - icon: google-calendar.png
              href: 'https://calendar.google.com'
    - Media:
        - YouTube:
            - icon: youtube.png
              href: 'https://youtube.com/feed/subscriptions'
        - Spotify:
            - icon: spotify.png
              href: 'http://open.spotify.com'
        - Youtube Music:
            - icon: https://raw.githubusercontent.com/joryirving/k3s-home-cluster/main/icons/youtube-music.png
              href: 'https://music.youtube.com'
    - Git:
        - kubesearch:
            - icon: kubernetes-dashboard.png
              href: 'https://kubesearch.dev/'
        - k3s-home-cluster:
            - icon: github.png
              href: 'https://github.com/tparker00/k3s-home'
  docker.yaml: ""
  kubernetes.yaml: |
    mode: cluster
  services.yaml: |
    - Calendar:
        - Agenda:
            widget:
              type: calendar
              view: agenda # optional - possible values monthly, agenda
              maxEvents: 20 # optional - defaults to 10
              integrations: # optional
                - type: sonarr # active widget type that is currently enabled on homepage - possible values: radarr, sonarr>
                  service_group: Downloads # group name where widget exists
                  service_name: Sonarr # service name for that widget
                - type: radarr # active widget type that is currently enabled on homepage - possible values: radarr, sonarr>
                  service_group: Downloads # group name where widget exists
                  service_name: Radarr # service name for that widget
    - Infrastructure:
        - Cloudflared:
            href: https://dash.cloudflare.com/
            icon: cloudflare-zero-trust.png
            description: Cloudflared Tunnel
            widget:
              type: cloudflared
              accountid: {{HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID}}
              tunnelid: {{HOMEPAGE_VAR_CLOUDFLARED_TUNNELID}}
              key: {{HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN}}
        - Mikrotik:
            href: http://192.168.1.3
            icon: mikrotik.png
            description: Data switch
        - OPNSense:
            href: https://opnsense.${SECRET_DOMAIN}
            icon: opnsense.png
            description: Firewall
            widget:
              type: opnsense
              url: https://opnsense.${SECRET_DOMAIN2}
              username: {{HOMEPAGE_VAR_OPNSENSE_USER}}
              password: {{HOMEPAGE_VAR_OPNSENSE_PASS}}
    - Media:
        - Tdarr:
            href: &url https://tdarr.${SECRET_DOMAIN}
            icon: tdarr.png
            description: Media Transcoding
            widget:
              type: tdarr
              url: *url
    - Storage:
        - moosefs:
          - icon: truenas.png
            description: Distributed storage
            href: http://moosefs.${SECRET_DOMAIN}
        - synology:
          - icon: synology.png
            description: Synology
            href: http://synology.${SECRET_DOMAIN}
    - Observability:
        - goldilocks:
          - icon: etcd.png
            href: https://goldilocks.${SECRET_DOMAIN}
  settings.yaml: |
    title: Dashboard
    favicon: https://github.com/walkxcode/dashboard-icons/blob/main/png/heimdall.png
    theme: dark
    color: slate
    headerStyle: clean
    layout:
      Calendar:
        style: column
        icon: mdi-calendar
      Media:
        style: column
        icon: mdi-play-circle
      Infrastructure:
        style: row
        columns: 3
        icon: mdi-server
      Storage:
        style: row
        columns: 2
        icon: mdi-desktop-tower
      Home:
        style: column
        icon: mdi-home-analytics
      Observability:
        style: column
        icon: mdi-chart-line
      Downloads:
        style: row
        columns: 3
        icon: mdi-download-circle
  widgets.yaml: |
    - search:
        provider: [google]
        focus: false
        target: _blank
    - greeting:
        text_size: xl
        text: "Yo!"
    - kubernetes:
        cluster:
          cpu: true
          label: cluster
          memory: true
          show: true
          showLabel: true
        nodes:
          cpu: true
          memory: true
          show: false
          showLabel: true
    - datetime:
        text_size: l
        format:
          dateStyle: long
          timeStyle: short
          hourCycle: h23
