---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name homepage-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        ## Non Cluster resources
        HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID: "{{ .cloudflare_account_id }}"
        HOMEPAGE_VAR_CLOUDFLARED_TUNNELID: "{{ .cloudflare_tunnel_id }}"
        HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN: "{{ .cloudflare_api_token }}"
        HOMEPAGE_VAR_OPNSENSE_USER: "{{ .opnsense_username }}"
        HOMEPAGE_VAR_OPNSENSE_PASS: "{{ .opnsense_password }}"
        ## Default
        HOMEPAGE_VAR_HASS_TOKEN: "{{ .hass_token }}"
        ## Downloads
        HOMEPAGE_VAR_MYLAR_TOKEN: "{{ .mylar_token }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .radarr_token }}"
        HOMEPAGE_VAR_SABNZBD_TOKEN: "{{ .sabnzbd_token }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .sonarr_token }}"
        HOMEPAGE_VAR_LIDARR_TOKEN: "{{ .lidarr_token }}"
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .bazarr_token }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .prowlarr_token }}"
        HOMEPAGE_VAR_READARR_TOKEN: "{{ .readarr_token }}"
        ## Media
        HOMEPAGE_VAR_OVERSEERR_TOKEN: "{{ .overseerr_token }}"
        HOMEPAGE_VAR_PLEX_TOKEN: "{{ .plex_token }}"
        HOMEPAGE_VAR_TAUTULLI_TOKEN: "{{ .tautulli_token }}"
        HOMEPAGE_VAR_KAVITA_USERNAME: "{{ .kavita_username }}"
        HOMEPAGE_VAR_KAVITA_PASSWORD: "{{ .kavita_password }}"
        ## Monitoring
        HOMEPAGE_VAR_GRAFANA_USERNAME: "{{ .grafana_username }}"
        HOMEPAGE_VAR_GRAFANA_PASSWORD: "{{ .grafana_password }}"
        ## Security
        HOMEPAGE_VAR_AUTHENTIK_TOKEN: "{{ .authentik_token }}"
  dataFrom:
  - extract:
      key:  cloudflare
  - extract:
      key:  opnsense
  - extract:
      key:  homeassistant
  - extract:
      key:  mylar
  - extract:
      key:  radarr
  - extract:
      key:  sabnzbd
  - extract:
      key:  sonarr
  - extract:
      key:  lidarr
  - extract:
      key:  bazarr
  - extract:
      key:  prowlarr
  - extract:
      key:  cloudflare
  - extract:
      key:  grafana
  - extract:
      key:  homepage
  - extract:
      key:  tautulli
  - extract:
      key:  plex
  - extract:
      key:  overseerr
  - extract:
      key:  readarr
  - extract:
      key:  authentik
