---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name lidarr-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore

  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        LIDARR__API_KEY: &apiKey "{{ .lidarr_token }}"
        LIDARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        LIDARR__POSTGRES_PORT: "5432"
        LIDARR__POSTGRES_USER: &dbUser "{{ .pg_user }}"
        LIDARR__POSTGRES_PASSWORD: &dbPass "{{ .pg_pass }}"
        LIDARR__POSTGRES_MAIN_DB: lidarr_main
        LIDARR__POSTGRES_LOG_DB: lidarr_log
        # Postgres Init
        INIT_POSTGRES_DBNAME: lidarr_main lidarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .super_pg_pass }}"
        # Exportar vars
        APIKEY: *apiKey
        URL: "{{ .url }}"
  dataFrom:
  - extract:
      key: lidarr
  - extract:
      key: cloudnative-pg
